html, body {
    background-color: black;
    color: blueviolet;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    background-color:blueviolet;
    height: 2px;
    border: none;
}

button, input {
    padding: 7px;
    color: blueviolet;
    border: blueviolet 1px solid;
    background-color: black;
    border-radius: 3px;
    transition: 0.15s;
    margin-left: 5px;
}

button:hover {
    padding: 7px;
    color: black;
    border: blueviolet 1px solid;
    background-color: blueviolet;
    border-radius: 3px;
}

button:active {
    padding: 7px;
    color: white;
    border: white 1px solid;
    background-color: blueviolet;
    border-radius: 3px;
}

.card {
    align-content: center;
    border: blueviolet 3px solid;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 10px;
}


.card img {
    max-height: 150px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}